html, body{
	width: 100%; height: 100%;
	background-color: #ffffff;
	z-index: 1;
	position: relative;
	overflow: hidden;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    height: 15px;
    width: 15px;
}
body{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	color:#fff;
}
.box{
	width: 541px; height: 675px;
	background-color: #DDFFF7;
	position: relative;
	/* box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75); */
    border: 15px solid;
    border-image: linear-gradient(190deg, rgb(251, 255, 0), darkorchid) 1;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg);
}
.socialmedias{
    position: fixed;
    font-size: 20px;
    padding: 5px;
}