/* To Do List for Next Update
Change Background image with input box/button function
Adapt .box Width & Height depends on Background Image
Change Caption using input function */

/* The only changes that can be made here are to change the content is "background-image: url in box" & "margin-top: 676px in text" */

body {
	display: flex;
	justify-content: center;
	color: #fff;
	/* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

/* This img css rule is using just to determine width of all img tags */
img {
	width: 15px;
}

.box {
	position: relative;
	width: 676px;
	height: 676px;
	background-color: #DDFFF7;
	display: block;
	/* box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75); */
	border: 25px solid;
	border-image: linear-gradient(190deg, rgb(251, 255, 0), darkorchid) 1;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg);
}

.text {
	/* Margin Top Depends on box background-image height */
	/* margin-top: 676px; */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: -webkit-center;
	@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
	font-family: 'Roboto', sans-serif;
}

figcaption {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 2em;
	padding: 15px;
	inline-size: -webkit-fill-available;
}

.socialmedias {
	font-size: 1.5em;
	display: block;
}